

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <a class="btn btn-info" href="/">Back</a>
                <div class="card-body add-student text-center">
                    
                    <img src="/images/students/<%= student.photo %> " alt="">
                    <h2><%= student.name %> </h2>
                    <p>gmail: <%= student.gmail %>  </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>